/* ------------------------------------------
    Imported Google Fonts (Poppins) 
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* --------------------------------
    Common Styles and Utilities 
----------------------------------- */
body, h1, h2, h3, p, div, header, main, section, footer {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.link-button {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #E02C6D;
}


/* -----------------------
    Navigation Bar Styles 
-------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    padding: 42px 124px 0 156px;
    background-color: blue;
}
.bars {
    display: none;
    font-size: 24px;
    color: white;
}
.links {
    display: flex;
    justify-content: space-between;
    width: 588px;
}
.link a {
    color: white;
    font-weight: 500;
}


/* -----------------------
    Top Banner Styles 
-------------------------- */
.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 50px 124px 86px 156px;
    background-color: blue;
}
.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: white;
    padding: 27px 0;
}
.banner-image img {
    width: 556px;
    transition: transform .3s linear;
}
.banner-image img:hover {
    transform: scale(1.2);
}


/* -----------------------
    Player Card Styles
-------------------------- */
.player-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
    padding: 70px 180px;
}
.player-card {
    padding: 15px;
    box-shadow: 0 0 20px lightgray;
}
.player-image img {
    width: 100%;
}
.player-details {
    margin: 0;
}
.player-name {
    font-size: 28px;
    font-weight: 700;
    padding: 16px 0 0 0;
    margin: 0;
}
.about-player {
    color: #6C6C6C;
    text-align: justify;
    padding: 10px 0;
}


/* -----------------------
    All Highlights Styles
-------------------------- */
.all-highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 100px 150px;
}
.match-details {
    padding: 30px 30px 30px 0;
}
.match-title {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 10px;
}
.about-match {
    color: #6C6C6C;
    padding-bottom: 25px;
    text-align: justify;
}
.match-image img {
    width: 100%;
}


/* -----------------------
       Footer Styles
-------------------------- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;    
}
.others {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 50px;
    border-top: 2px solid gray;
}
.other-title {
    padding-bottom: 20px;
}
.other-link a {
    color: gray
}
.footer-image img {
    width: 485px;
}
.social-icons {
    display: flex;
    margin: 20px 0;
}
.social-icon {    
    width: 40px;
    height: 40px;
    margin: 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
    background-color: lightgray;
}
.social-icon a {
    font-size: 18px;
    color: #969BAB;
}
.copyright {
    font-size: 18px;
}



/* ------------------------------------
---                                 ---
---  Responsive For Mobile Devices  ---
---                                 ---
--------------------------------------- */

/* Styles For Mobile Devices  */
@media only screen and (max-width:688px) {
    /* -----------------------
    Navigation Bar Styles 
    -------------------------- */
    nav {
        padding: 30px 16px;
    }
    .bars {
        display: block;
    }
    .links {
        display: none;
    }

    
    /* -----------------------
        Top Banner Styles 
    -------------------------- */
    .top-banner {
        padding: 30px 16px;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-title {
        font-size: 36px;
    }
    .banner-image img {
        width: 100%;
        padding-top: 50px;
    }


    /* -----------------------
        Player Card Styles
    -------------------------- */
    .player-card-container {
        padding: 47px 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* -----------------------
        All Highlights Styles
    -------------------------- */
    .all-highlights {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 16px;
    }
    .match-details {
        padding: 0 0 35px 0;
        width: 100%;
    }
    .match-title {
        font-size: 30px;
    }


    /* -----------------------
        Footer Styles
    -------------------------- */
    .footer-image {
        display: flex;
        justify-content: center;
    }
    .footer-image img {
        width: 75%;
    }
}

/* Styles For Tablet Devices  */
@media only screen and (min-width:689px) and (max-width:1030px) {
    /* -----------------------
    Navigation Bar Styles 
    -------------------------- */
    nav {        
        padding: 30px 50px 0 70px;
    }

    
    /* -----------------------
        Top Banner Styles 
    -------------------------- */
    .top-banner {
        padding: 30px 70px;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-title {
        font-size: 50px;
    }
    .banner-image img {
        width: 100%;
    }


    /* -----------------------
        Player Card Styles
    -------------------------- */
    .player-card-container {
        padding: 47px 70px;
        grid-template-columns: repeat(2, 1fr);
    }

    /* -----------------------
        All Highlights Styles
    -------------------------- */
    .all-highlights {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 70px;
    }
    .match-details {
        padding: 0 35px 0 0;
    }
    .match-title {
        font-size: 45px;
    }


    /* -----------------------
        Footer Styles
    -------------------------- */
    .footer-image {
        display: flex;
        justify-content: center;
    }
    .footer-image img {
        width: 75%;
    }
}